<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SERVER_HOST</key>
	<string>$(SERVER_HOST)</string>
	<key>SERVER_SCHEME</key>
	<string>$(SERVER_SCHEME)</string>
	<key>MOVIES_API_KEY</key>
	<string>$(MOVIES_API_KEY)</string>
	<key>MOVIES_API_ACCESS_TOKEN</key>
	<string>$(MOVIES_API_ACCESS_TOKEN)</string>
</dict>
</plist>
